<!DOCTYPE html>
<html lang="PT-BR">
<head>
<script>

</script>
<style>

</style>
</head>
<body>
    <fieldset>
        <legend>Curriculo</legend>
        <form action="" method="POST">
        Nome Completo:<input type="text" name="" maxlength="10" minlength="5" placeholder="nome completo">
         senha:  <input type="password" name="" placeholder="senha" required>
     
        <imput type="submit" value="logar">
        </from>
      </fieldset>
    </fieldset>
      <legend>cadastrar curriculo</legend>
     telefone: <input type="text"></br>
    nome completo: <input type="text"></br>
        e-mail: <input type="text"></br>
      endereço: <input type="text"></br>
        data de nascimento: <input type="text"></br>
      genero: M <input type="radio"> F <input type="radio"> OUTROS <input type="radio"></br>





            
       <fieldset>
          <legend>DADOS PESSOAIS</legend>
        e-mail:</br>
        endereço:</br>

       <input type="submit" value="cadastrar">
        </form>
        </fieldset>
        </body>
        </html>
